ikosmerl_aplikacija_4_2/src/wsdl/localhost_8084/ikosmerl_aplikacija_2_web_modul/Aplikacija2.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.ikosmerl.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.ikosmerl.nwtis.foi.org/" name="Aplikacija2">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.ikosmerl.nwtis.foi.org/" schemaLocation="http://localhost:8084/ikosmerl_aplikacija_2_web_modul/Aplikacija2?xsd=1"/>
</xsd:schema>
</types>
<message name="dajLetoveAviona">
<part name="parameters" element="tns:dajLetoveAviona"/>
</message>
<message name="dajLetoveAvionaResponse">
<part name="parameters" element="tns:dajLetoveAvionaResponse"/>
</message>
<message name="dajAerodromeNaziv">
<part name="parameters" element="tns:dajAerodromeNaziv"/>
</message>
<message name="dajAerodromeNazivResponse">
<part name="parameters" element="tns:dajAerodromeNazivResponse"/>
</message>
<message name="dajAerodromeDrzava">
<part name="parameters" element="tns:dajAerodromeDrzava"/>
</message>
<message name="dajAerodromeDrzavaResponse">
<part name="parameters" element="tns:dajAerodromeDrzavaResponse"/>
</message>
<message name="dajAerodromeKorisnika">
<part name="parameters" element="tns:dajAerodromeKorisnika"/>
</message>
<message name="dajAerodromeKorisnikaResponse">
<part name="parameters" element="tns:dajAerodromeKorisnikaResponse"/>
</message>
<message name="dajUdaljenostAerodroma">
<part name="parameters" element="tns:dajUdaljenostAerodroma"/>
</message>
<message name="dajUdaljenostAerodromaResponse">
<part name="parameters" element="tns:dajUdaljenostAerodromaResponse"/>
</message>
<message name="dajAerodromeKorisnikaUnutarGranica">
<part name="parameters" element="tns:dajAerodromeKorisnikaUnutarGranica"/>
</message>
<message name="dajAerodromeKorisnikaUnutarGranicaResponse">
<part name="parameters" element="tns:dajAerodromeKorisnikaUnutarGranicaResponse"/>
</message>
<message name="dajPoletjeleAvioneAerodroma">
<part name="parameters" element="tns:dajPoletjeleAvioneAerodroma"/>
</message>
<message name="dajPoletjeleAvioneAerodromaResponse">
<part name="parameters" element="tns:dajPoletjeleAvioneAerodromaResponse"/>
</message>
<message name="autentificirajKorisnika">
<part name="parameters" element="tns:autentificirajKorisnika"/>
</message>
<message name="autentificirajKorisnikaResponse">
<part name="parameters" element="tns:autentificirajKorisnikaResponse"/>
</message>
<portType name="Aplikacija2">
<operation name="dajLetoveAviona">
<input wsam:Action="http://serveri.ws.ikosmerl.nwtis.foi.org/Aplikacija2/dajLetoveAvionaRequest" message="tns:dajLetoveAviona"/>
<output wsam:Action="http://serveri.ws.ikosmerl.nwtis.foi.org/Aplikacija2/dajLetoveAvionaResponse" message="tns:dajLetoveAvionaResponse"/>
</operation>
<operation name="dajAerodromeNaziv">
<input wsam:Action="http://serveri.ws.ikosmerl.nwtis.foi.org/Aplikacija2/dajAerodromeNazivRequest" message="tns:dajAerodromeNaziv"/>
<output wsam:Action="http://serveri.ws.ikosmerl.nwtis.foi.org/Aplikacija2/dajAerodromeNazivResponse" message="tns:dajAerodromeNazivResponse"/>
</operation>
<operation name="dajAerodromeDrzava">
<input wsam:Action="http://serveri.ws.ikosmerl.nwtis.foi.org/Aplikacija2/dajAerodromeDrzavaRequest" message="tns:dajAerodromeDrzava"/>
<output wsam:Action="http://serveri.ws.ikosmerl.nwtis.foi.org/Aplikacija2/dajAerodromeDrzavaResponse" message="tns:dajAerodromeDrzavaResponse"/>
</operation>
<operation name="dajAerodromeKorisnika">
<input wsam:Action="http://serveri.ws.ikosmerl.nwtis.foi.org/Aplikacija2/dajAerodromeKorisnikaRequest" message="tns:dajAerodromeKorisnika"/>
<output wsam:Action="http://serveri.ws.ikosmerl.nwtis.foi.org/Aplikacija2/dajAerodromeKorisnikaResponse" message="tns:dajAerodromeKorisnikaResponse"/>
</operation>
<operation name="dajUdaljenostAerodroma">
<input wsam:Action="http://serveri.ws.ikosmerl.nwtis.foi.org/Aplikacija2/dajUdaljenostAerodromaRequest" message="tns:dajUdaljenostAerodroma"/>
<output wsam:Action="http://serveri.ws.ikosmerl.nwtis.foi.org/Aplikacija2/dajUdaljenostAerodromaResponse" message="tns:dajUdaljenostAerodromaResponse"/>
</operation>
<operation name="dajAerodromeKorisnikaUnutarGranica">
<input wsam:Action="http://serveri.ws.ikosmerl.nwtis.foi.org/Aplikacija2/dajAerodromeKorisnikaUnutarGranicaRequest" message="tns:dajAerodromeKorisnikaUnutarGranica"/>
<output wsam:Action="http://serveri.ws.ikosmerl.nwtis.foi.org/Aplikacija2/dajAerodromeKorisnikaUnutarGranicaResponse" message="tns:dajAerodromeKorisnikaUnutarGranicaResponse"/>
</operation>
<operation name="dajPoletjeleAvioneAerodroma">
<input wsam:Action="http://serveri.ws.ikosmerl.nwtis.foi.org/Aplikacija2/dajPoletjeleAvioneAerodromaRequest" message="tns:dajPoletjeleAvioneAerodroma"/>
<output wsam:Action="http://serveri.ws.ikosmerl.nwtis.foi.org/Aplikacija2/dajPoletjeleAvioneAerodromaResponse" message="tns:dajPoletjeleAvioneAerodromaResponse"/>
</operation>
<operation name="autentificirajKorisnika">
<input wsam:Action="http://serveri.ws.ikosmerl.nwtis.foi.org/Aplikacija2/autentificirajKorisnikaRequest" message="tns:autentificirajKorisnika"/>
<output wsam:Action="http://serveri.ws.ikosmerl.nwtis.foi.org/Aplikacija2/autentificirajKorisnikaResponse" message="tns:autentificirajKorisnikaResponse"/>
</operation>
</portType>
<binding name="Aplikacija2PortBinding" type="tns:Aplikacija2">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="dajLetoveAviona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodromeNaziv">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodromeDrzava">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodromeKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajUdaljenostAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodromeKorisnikaUnutarGranica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajPoletjeleAvioneAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="autentificirajKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Aplikacija2">
<port name="Aplikacija2Port" binding="tns:Aplikacija2PortBinding">
<soap:address location="http://localhost:8084/ikosmerl_aplikacija_2_web_modul/Aplikacija2"/>
</port>
</service>
</definitions>